body{
  background: #0d0a16;
  font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.36;
    color: #b9cac9;
}
h2{
font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.08;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;
  color: #00fbfb;
  margin-bottom: 8px;
}
h3{
  font-family: "Orbitron", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.36;
    text-transform: uppercase;
    color: #fff;
}
.title-container{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}
@media only screen and (min-width: 1440px) {
body{
font-size: 18px;
}
h3{
font-size: 42px;
  line-height: 1.28;
}  
}