.home-section{
background-image: url("/img/home/mob.png");
background-repeat: no-repeat;
background-position: top center;
background-size: cover;
height: 812px;
}
.home-wrapper{
    margin-top: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.home-label{
border: 1px solid #00fbfb;
    padding: 8px 16px;
    width: 343px;
    height: 31px;
box-shadow: 0 0 10px  rgba(0, 251, 251, 0.3);
    background: rgba(255, 255, 255, 0);
font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.08;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    text-align: center;
    color: #00fbfb;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-title{
font-family: "Orbitron", sans-serif;
    font-weight: 700;
    font-size: 62px;
    line-height: 1.08;
    letter-spacing: 0.03em;
    text-align: center;
    color: #00fbfb;
text-shadow:
        0 0 20px rgba(0, 251, 251, 0.4),
        0 0 10px rgba(0, 251, 251, 0.8);
}
.home-text{
    text-align: center;
}
@media only screen and (min-width: 1440px) {
.home-section{
background-image: url("/img/home/desk.png");
}
.home-wrapper{
    margin-top: 280px;
width: 740px;
gap: 16px;
}
.home-label{
    width: 370px;

}
.home-title{
font-size: 92px;
}
.home-text{
width: 420px;
}    
}
.back-about{
    background-image: url("/img/back-about/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
@media only screen and (min-width: 1440px) {
.back-about{
    background-image: url("/img/back-about/desk.png");
}    
}
/* About the Game */
.about-subtitle{
    text-align: center;
    margin-bottom: 24px;
}
.about-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.44;
    text-align: center;
}
@media only screen and (min-width: 1440px) {
.about-subtitle{
width: 656px;
margin-left: auto;
margin-right: auto;
}
.about-text{
font-size: 24px;
width: 864px;
margin-left: auto;
    margin-right: auto;
} 
}
/* Gameplay Experience */
.gameplay-title{
    text-align: left;
}
.gameplay-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.gameplay-item{
border-bottom: 1px solid #00fbfb;
    border-left: 4px solid #00fbfb;
    border-right: 1px solid #00fbfb;
    border-top: 1px solid #00fbfb;
    padding: 20px;
    width: 343px;
    height: auto;
backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.03);
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.gameplay-item-title{
    font-weight: 500;
    font-size: 18px;
    color: #00fbfb;
}
.g2{
border-bottom: 1px solid #7b2cbf;
    border-left: 4px solid #7b2cbf;
    border-right: 1px solid #7b2cbf;
    border-top: 1px solid #7b2cbf;
}
.g2 .gameplay-item-title{
color: #7b2cbf;
}
@media only screen and (min-width: 1440px) {
.gameplay-list{
flex-direction: row;
gap: 32px;
}
.gameplay-item{
    padding-left: 18px;
width: 236px;
    height: 200px;
}
.gameplay-item-title{
font-size: 20px;
}    
}
/* Features */
.features-section{
    background-image: url("/img/features/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.features-title-container{
    margin-bottom: 48px;
}
.features-list-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.features-list{
    display: flex;
        flex-direction: column;
        gap: 20px;
}
.features-list-one{
    margin-left: 79px;
}
.features-item{
border: 1px solid rgba(0, 251, 251, 0.15);
    border-radius: 8px;
    padding: 20px;
    width: 264px;
    height: auto;
    backdrop-filter: blur(20px);
background: rgba(19, 19, 19, 0.25);
display: flex;
flex-direction: column;
gap: 8px;
}
.features-item-title{
font-weight: 500;
    font-size: 18px;
color: #fff;
}
@media only screen and (min-width: 1440px) {
.features-section{
    background-image: url("/img/features/desk.png");
}
.features-list-wrapper{
    display: flex;
    flex-direction: column;
    gap: 163px;
}
.features-list{
    display: flex;
        flex-direction: row;

        gap: 24px;
}
.features-list-one{
    margin-left: 79px;
justify-content: end;
}
.features-item-title{
font-size: 20px;
}    
}
/* Sound Realms */
.sound-container{
    padding-top: 64px;
}
.sound-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.sound-item{
border-bottom: 4px solid #7b2cbf;
    border-left: 1px solid #7b2cbf;
    border-right: 1px solid #7b2cbf;
    border-top: 1px solid #7b2cbf;
    width: 303px;
    height: 408px;
backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.03);
}
.sound-item-container{
padding: 24px;
    width: 301px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.sound-item-title{
    font-weight: 500;
    font-size: 18px;
    color: #7b2cbf;
}
.sound-item-wrapper{
    display: flex;
    justify-content: start;
    gap: 8px;
    padding-top: 8px;
}
.sound-item-label{
border: 1px solid rgba(0, 251, 251, 0.15);
    padding: 4px 8px;
    height: 23px;
    font-size: 12px;
    line-height: 1.08;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #b9cac9;
}
.s2{
border-bottom: 4px solid #00fbfb;
    border-left: 1px solid #00fbfb;
    border-right: 1px solid #00fbfb;
    border-top: 1px solid #00fbfb;
}
.s2 .sound-item-title{
color: #00fbfb;
}
@media only screen and (min-width: 1440px) {
.sound-title-container{
    margin-bottom: 48px;
}
.sound-list{
flex-direction: row;
gap: 32px;
}
.sound-item{
width: 304px;
height: 441px;
}

.sound-item-title{
font-size: 20px;
}
}
/* Advantages */
.advantages-title-container{
    align-items: center;
}
.advantages-title-container h3{
    text-align: center;
}
.advantages-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.44;
    text-align: center;
    background: linear-gradient(90deg, #5c6464 0%, #cad7d6 50.48%, #5c6464 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media only screen and (min-width: 1440px) {
.advantages-text{
font-size: 24px;
width: 864px;
margin-left: auto;
margin-right: auto;
}    
}
/* Gallery */
.gallery-container{
    padding-bottom: 0;
}
.gallery-swiper{
    padding-bottom: 40px;
}
@media only screen and (min-width: 1440px) {
.gallery-swiper {
        padding-bottom: 64px;
    }
.gallery-container h3{
    width: 650px;
}
}
.back{
    background-image: url("/img/back/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
@media only screen and (min-width: 1440px) {
.back{
    background-image: url("/img/back/desk.png");
}    
}
/* Reviews */
.reviews-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.reviews-item{
border-bottom: 1px solid #00fbfb;
    border-left: 4px solid #00fbfb;
    border-right: 1px solid #00fbfb;
    border-top: 1px solid #00fbfb;
    padding: 20px;
    width: 343px;
    height: auto;
backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.03);
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.reviews-item-container{
    display: flex;
    gap: 16px;
    align-items: center;
}
.reviews-item-wrapper{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.reviews-item-author{
font-weight: 500;
    font-size: 18px;
color: #fff;
}
.reviews-two{
border-bottom: 1px solid #7b2cbf;
    border-left: 4px solid #7b2cbf;
    border-right: 1px solid #7b2cbf;
    border-top: 1px solid #7b2cbf;
}
@media only screen and (min-width: 1440px) {
.reviews-section h3{
    width: 656px;
}
.reviews-list{
flex-direction: row;
gap: 32px;
flex-wrap: wrap;
justify-content: center;
}
.reviews-item{
width: 416px;
    height: 154px;
}
.reviews-item-container{
    display: flex;
    gap: 16px;
    align-items: center;
}
.reviews-item-wrapper{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.reviews-item-author{
font-size: 20px;
} 
}